*{
    background-color:teal;
}
h1{
  text-align:center;
  padding-top:100px;    
}
#form{
    margin-left:32%;
    margin-right:32%;
    border:1px solid chocolate;
    padding:5%;
}
#form p{
    font-size:24px;

}
input{
    padding:2%;
    width:55%;
    float:right;

}
button{
    margin-left:60%;
    padding:2%;
    border-radius:5%,

}