*{
    background-color:teal;
}
h1{
  text-align:center;
  padding-top:100px;    
}
#form{
    margin-left:32%;
    margin-right:32%;
    border:3px solid chocolate;
    padding:5%;
    box-shadow:4px 4px 4px green;

}
#form p{
    font-size:24px;

}
input{
    padding:2%;
    width:55%;
    float:right;

}
button{
    margin-left:60%;
    padding:2%;
    border-radius:20%;
background-color:green;
}
button:hover{
    background-color:aqua;

}
button:active{
    background-color:red;
}