*{
    background-color:teal;
}
h1{
  text-align:center;
  padding-top:100px;    
}
#form{
    margin-left:32%;
    margin-right:32%;
    border:1px solid chocolate;
    padding:10%;
}
#form p{
    font-size:24px;
     
}